#column-container {
    background:none transparent;
}
.postlist td h3 {
	border-bottom:none;
}
.blockinstance-header .title {
	font-size: 1.1em;
	margin:0;
	border-width: 1px;
	line-height: 25px;
	color:#333;
}

.title .detail-small {
	float:right;
	align-self:center;
	width: 13px;
    height: 13px;
    padding: 6px 0px;
}
#collection h1.collection-title, #container .title {
	margin:0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	word-wrap:normal;
	white-space:nowrap;
	font-family: 'RobotoThin';
    
    font-weight:normal;
}
#collectionnavwrap {
	min-width:35%;
	margin:0;
	text-align:center;
	padding:0;
}

#container div.colnav-extra {
	position:absolute;
	top:44px;
	background: #fff;
	min-height: 44px;
	max-width: 30%;
	right:0;
	text-align:right;
	border-top:solid 1px #e5e5e5;
	box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
	transition:all ease 0.3s;
    -webkit-transition:all ease 0.3s;
}
#container a#colnav-more-a {
	font-family:'RobotoBold', Arial, sans;
}
#container ul.colnav li a {
	background:none;
	text-decoration:none;
	line-height:41px;
	border-bottom: solid 3px #fff;
	font-weight:normal;
	font-family: 'RobotoThin', Arial, sans;
}
#container ul.colnav li a:hover {
	border-bottom: solid 3px #B5D378;
	transition:all ease 0.3s;
	-webkit-transition:all ease 0.3s;
}
ul.colnav li {
	color:#999;
	font-size:1.1em;
	font-weight:normal;
}
#container ul.colnav li {
	padding:0;
	margin:0 5px
}
ul.colnav li.selected span {
	background:none;
	border-bottom: solid 3px #B5D378;
	line-height:41px;
}
#container ul.colnav li a, #container ul.colnav li.selected span {
	padding:0;
	margin:0;
}
#view-description:not(:empty) {
	background:#fff;
	padding:10px;
	box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
}
#view-description {
	background:none;
}
.blockinstance {
	background:#fff;
	margin:14px 0;
	padding:5px 10px 10px 10px;
	box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
}
.blockinstance-header h4 {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
	font-weight:normal;
	font-size:14px !important;/* raw theme uses important tag, so impossible to avoid */
	color:#262626;
	font-family:'RobotoBold', Arial, sans;
	margin-bottom:0;
}
.blockinstance-content {
	padding-top:10px;
}
.blockinstance-content div a img {
	max-width:96%;
}
.bt-image .blockinstance-content div a img {
	padding-bottom:5px;
}
/* Footer  */
.viewfooter {
	background:#fff;
	box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
	border:0;
}

/** 
* Dynamic Styling 
**/

/* Styles between 1030px & 1230px */ 
@media screen and (min-width:1030px) and (max-width:1230px) {
	ul.colnav li {
		font-size:0.9em;
	}
	#container ul.colnav li {
		margin:0 5px;
	}
	#mainmiddlewrap {
		min-width:800px;
	}
}
/* Styles between 830px & 1030px */
@media screen and (min-width:830px) and (max-width:1030px) {
	#collection h1.collection-title {
		font-size:1.2em;
		width:150px;
		margin:0 5px;
	}
	#collection > p {
		margin:0 5px;
		font-size:0.9em;
	}
	ul.colnav li {
        font-size:0.9em;
    }
    #container ul.colnav li {
        margin:0 5px;
    }
	#mainmiddlewrap {
        min-width:800px;
    }
	
}
/* Styles less than 830px */
@media screen and (max-width:900px) {
	#collection > p {
		font-size:0.6em;
	}
	#collection h1.collection-title {
        font-size:1.0em;
        width:150px;
        margin:0 5px;
    }
    #collection > p {
        margin:0 5px;
        font-size:0.7em;
    }
    ul.colnav li {
        font-size:0.8em;
    }
    #container ul.colnav li {
        margin:0 5px;
    }
    #mainmiddlewrap {
        min-width:95%;
    }
}

/* Styles less than 830px */
@media screen and (min-width:1200px) {
	#mainmiddlewrap {
		max-width: 75%;
	}
	#mainmiddle {
		max-width: 1800px;
	}
}

/* @TODO - Styles are good down to ~820px, below this, we lose the collection navigation. */



/* FLEX GRID SYSTEM FOR HEADER */

.viewheadertop {
	display: flex;
}
.viewheadertop .logo {
	order:1;
	flex:0 0 44px;
	align-self:center;
}
.viewheadertop #collection,
.viewheadertop .page-header {
	order:2;
	flex:auto;
}
.viewheadertop .page-header {
	display: flex;
	align-items:center;
}
.viewheadertop .page-header .title {
	order:1;
	font-size: 2.0em;
}
.viewheadertop .page-header .page-author {
	order:2;
}
.viewheadertop .links {
	order:4;
	flex:10%;
	align-self:center;
	display: flex;
	justify-content:flex-end;
}
.viewheadertop .links .btn {
	display: block;
	flex-direction:column;
	overflow: hidden;
	white-space: nowrap;
	word-wrap:normal;
	text-overflow:ellipsis;
	text-align: center;
}

#collection {
	display: flex;
	align-items:center;
}
#collection .collection-header, #collectionnavwrap {
	display: flex;
	flex: 0 0 50%;
}
#collection .collection-title,
.viewheadertop header .title {
	font-size: 2.0em;
	text-align: left;
}
#collection .collection-author {
	align-self:center;
}
#collection #collectionnavwrap .colnav1{
	flex:90%;
}
#collection #collectionnavwrap .colnav1 .colnav {
	display: flex;
	align-items:center;
}
#collection #collectionnavwrap .colnav li {
	flex-grow:1;
}
#collection #collectionnavwrap .colnav li a, 
#collection #collectionnavwrap .colnav li a.colnav,
#collection #collectionnavwrap .colnav li.selected span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
#collection #colnav-showmore-div {
	flex:10%;
}
#collection .colnav .item {
	flex-grow:1;
}

/* Single page HEADER FLEX */
#commentfiles {
	background: transparent;
	border: 1px solid #e5e5e5;
}
.r0, .r0 td, .d0, .r1, .r1 td, .d1 {
	background:#FFF;
}